/* Enter and leave animations can use different */
/* durations and timing functions.              */

/* simple fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* slide right */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(600px);
  opacity: 0;
}

/* slide bottom */
.slide-fade-bottom-enter-active {
  transition: all 1s ease;
}
.slide-fade-bottom-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-bottom-enter, .slide-fade-bottom-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(600px);
  opacity: 0;
}
